@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #365fa1;
}

.nav {
    position: fixed;
    inset: 20px;
    background-color: #287bff;
    width: 80px;
    border-left: 10px solid #287bff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.nav.active {
    width: 300px;
    border-radius: 20px;
}

.nav__toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__toggle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #365fa1;
    transform: translateY(-5px);
    transition: 1s;
}

.nav.active .nav__toggle::before {
    transform: translateY(0) rotate(-405deg);
}

.nav__toggle::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #365fa1;
    transform: translateY(5px);
    transition: 1s;
}

.nav.active .nav__toggle::after {
    transform: translateY(0) rotate(225deg);
}

.nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav__item {
    position: relative;
    list-style: none;
    width: 100%;
    /* background-color: #fff; */
}

.nav__item:hover {
    background-color: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.nav__item:not(:first-child):hover::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px #fff;

}

.nav__item:not(:first-child):hover::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px #fff;

}

.nav__item:nth-child(1) {
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

.nav__link {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #fff;
}

.nav__item:hover:not(:first-child) .nav__link {
    color: #365fa1;
}

.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.icon ion-icon {
    font-size: 1rem;
}

.title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 30px;
    text-align: start;
    white-space: nowrap;
}